body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(199,222,233);
  background: linear-gradient(180deg, rgba(199,222,233,1) 0%, rgba(49,130,180,1) 100%);

}

a {
  color: #00B7FF;
}

.home {

 
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

