<nav class=" header col-12 navbar navbar-light bg-white">
    <a class="navbar text-dark" href="/">
    <img src="/images/train.png" width="50" height="50" class="logo mx-3 text-dark" alt="">
    Ticketac
    </a>
    <div>
    <a class="text-danger" href="/"> Connection </a>
    <a class = "text-dark" href="/"> My Last Trips </a>
    </div>
</nav>

